################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NDS_ZATCA.slnx/FileContentIndex/fddc627d-9f54-4dfe-80b5-070a0c555b59.vsidx
