################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NDS_ZATCA.slnx/FileContentIndex/fddc627d-9f54-4dfe-80b5-070a0c555b59.vsidx
/.vs/NDS_ZATCA.slnx/FileContentIndex/ed6cc14d-7432-41c0-8572-b9ebcd108230.vsidx
